<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Corbeille Responsables</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">
        <!-- Mettre ici le contenu de la page -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="activite-Corbeille">Activités <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Admin-Corbeille">Administrateurs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="exercice-Corbeille">Exercices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="responsable-Corbeille">Responsables</a>
                  </li>
              </ul>
            </div>
          </nav>
    </div>
</div>
</div>