<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-1 col-sm-1 col-md-1 col-xs-12">
                <a [routerLink]="['/liste-participant']">
                    <b>
                     <i style="color: orangered; font-size: 30px;" class="fas fa-arrow-circle-left"></i>
                    </b>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h4 class="page-title">Détail Participant</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
                <div class="d-md-flex" > 
                    <ol class="breadcrumb ms-auto">
                       <b style="font-size: 15px; color: orangered;">{{nbreParticipation}} activités participées</b>
                    </ol>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xlg-3 col-md-12">
                <div class="white-box">
                    <div class="user-bg"> <img width="100%" alt="user" src="../../assets/plugins/images/infos.png">
                        <div class="overlay-box">
                            <div class="user-content">
                                <a href="javascript:void(0)"><img src="../../assets/plugins/images/infos.png"
                                        class="thumb-lg img-circle" alt="img"></a>
                                <h4 class="text-white mt-2">{{participant.nom_complet}}</h4>
                                <h5 class="text-white mt-2">{{participant.email}}</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0" style="color: orange;">Nom Complet</label>
                                <div class="col-md-12 border-bottom p-0" >{{participant.nom_complet}}</div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0" style="color: orange;">Téléphone</label>
                                <div class="col-md-12 border-bottom p-0">{{participant.telephone}}</div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0" style="color: orange;">Domaine</label>
                                <div class="col-md-12 border-bottom p-0">{{participant.domaine}}</div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0" style="color: orange;">Structure</label>
                                <div class="col-md-12 border-bottom p-0">{{participant.structure}}</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="d-md-flex mb-3">
                            <h3 class="box-title mb-0">Activités Participées</h3>
                            <div class="col-md-3 col-sm-4 col-xs-6 ms-auto"></div>
                        </div>
                        
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0"><b>Libellé</b></th>
                                    <th class="border-top-0"><b>Type</b></th>
                                    <th class="border-top-0"><b>Date début</b></th>
                                    <th class="border-top-0"><b>Date fin</b></th>
                                    <th class="border-top-0"><b>Etat</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let liste of participation">
                                    <td class="txt-oflo">{{liste?.activite.libelle}}</td>
                                    <td class="txt-oflo">{{liste?.activite.type}}</td>
                                    <td class="txt-oflo">{{liste?.activite.dateDebut | date: 'dd-M-Y'}}</td>
                                    <td class="txt-oflo">{{liste?.activite.dateFin | date: 'dd-M-Y'}}</td>
                                    <td class="txt-oflo">{{liste?.activite.etat}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

